<div class="welcome-wrapper">
	<h1>Guess the tag</h1>
	<p>
	  <ol>
	  	<li class="fadeIn fadeIn1">Photos will appear on the right side of the screen and start moving to the left.</li>
	  	<li class="fadeIn fadeIn2">The image is “destroyed” if the User types the first letter of one of the image’s tags.</li>
	  	<li class="fadeIn fadeIn3">The points are a function of the velocity of the photos, the number of incorrect guesses and the photo’s position. </li>
	  	<li class="fadeIn fadeIn4">A fast-moving photo destroyed very close to the right edge of the screen with a single key-press gets the User the most points.</li>
	  	<li class="fadeIn fadeIn5">The game is over if any image goes all the way through the screen.</li>
	  </ol>
	</p>
	<p>
		<a class="button fadeIn fadeIn10" href="#!/game">
		  <span class="away">Understood?</span>
		  <span class="over">Let's Play</span>
		</a>
	</p>
</div>
