<p>
  <ol>
  	<li>Photos will appear on the right side of the screen and start moving to the left.</li>
  	<li>The image is “destroyed” if the User types the first letter of one of the image’s tags.</li>
  	<li>The points are a function of the velocity of the photos, the number of incorrect guesses and the photo’s position. </li>
  	<li>A fast-moving photo destroyed very close to the right edge of the screen with a single key-press gets the User the most points.</li>
  	<li>The game is over if any image goes all the way through the screen.</li>
  </ol>
</p>
<p>
	<a href="#!/game">Let's Play!</a>
</p>
